body {
    background-color: #ffffff;
}
#menu {
    overflow: hidden;
    border: #cccccc;
    border-style: ridge;
    border-width: 3px;
    ul {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
        list-style: none;
        line-height: normal;
        background-color: #ffffff;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 0px 40px 0px 40px;
        line-height: 70px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-weight: 500px;
        color: #4aaaa5;
    }
    a:hover {
        text-decoration: none;
        color: #4aaaa5;
        background-color: black;
    }
    .current_page_item a {
        text-decoration: none;
        color: #4aaaa5;
        background-color: black;
    }
    .last {
        border-right: none;
    }
}
.text-box {
    background-color: #ffffff;
    display: block;
    align-content: center;
    border: #dddddd;
    border-style: groove;
    border-width: 3px;
    color: #777777;
    #width1 {
        width: 600px;
    }
    #width2 {
        width: 700px;
    }
    #font {
        font-family: helvetica;
    }
}
.img {
    float: right;
}
.header1 {
    font-family: 'Georgia';
    text-align: center;
    color: #4aaaa5;
}
.img2 {
    float: left;
    margin-top: 75px;
}
.form {
    border: #dddddd;
    border-style: double;
    border-width: 5px;
    width: 638px;
    height: 920px;
    margin-left: 300px;
}
.footer {
    background-color: #666666;
    width: 100%;
    height: 70px;
    margin-top: 600px;
}